!!!
html
  head

    block title
      title Iggy

    meta(name='description', content='')
    meta(name='HandheldFriendly', content='true')
    meta(name='MobileOptimized', content='320')
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='cleartype', content='on')

    //- iphone 4 with high-resolution Retina display
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/images/apple-touch-icon-medium.png')
    //- first generation ipad
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/images/apple-touch-icon-medium.png')
    //- non-retina iphone, ipod-touch, Android 2.1+
    link(rel='apple-touch-icon-precomposed', href='/images/apple-touch-icon-low.png')

    link(rel='stylesheet', href="/css/style.css")

    script(src='/js/wysiwym.js')
    script(src='/js/showdown.js')

  body
    
    block header
      header
        h1 default header

    block content

    block footer
      footer this is the footer
        block footer-scripts
          script(src='')

