body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#post-preview {
  width: 400px;
  float: right; 
}

#post-body {
  float: left;
}

footer {
  clear: both;
}